body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header nav {
    background-color: #333;
    color: #fff;
}

.navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

.navbar-container img {
    height: 40px; /* Adjust as needed */
    margin-right: 20px;
}

#divBusca {
    display: flex;
    align-items: center;
    margin-right: auto;
}

#txtBusca {
    padding: 8px;
    border: none;
    border-radius: 5px;
    margin-right: 5px;
}

#btnBusca {
    height: 30px; /* Adjust as needed */
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
}

.nav-links li {
    margin-right: 20px;
}

.product {
    margin-bottom: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}